# Supabase — https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://zaoxlzymyumgqacqiuwf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_sxVY4noim2ELmXCuelIjAg_AKdieqOG

# Resend — https://resend.com/api-keys
# For local dev you can use: onboarding@resend.dev as the `from` address
RESEND_API_KEY=re_8xd3Hq98_GznijE9N9HKXba72q9HnHrnY
